<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>URL Shortener Microservice</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="/public/style.css" rel="stylesheet" type="text/css">
  <script src="/public/js/script.js" defer></script>
</head>

<body>
  <header>
    <h1>URL Shortener Microservice</h1>
    <hr />
  </header>
  <main>
    <section>
      <form id="postUrlContainer" action="api/shorturl" method="POST">
        <fieldset>
          <legend>URL Shortener</legend>
          <label for="url_input">URL:</label>
          <input id="url_input" type="text" name="url" placeholder="http://localhost:3000/" />
          <input id="postData" type="submit" value="POST URL" />
        </fieldset>
        <div id="result"></div>
      </form>
    </section>
  </main>
</body>

</html>